/* 모바일 사이즈 설정 */
@media (max-width: 430px) {
  body {
    width: 100%;
    margin: 0 auto;
    padding-top: env(safe-area-inset-top);
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input {
  outline-style: none;
}
